{% extends 'base.html' %}
{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Jof</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'pr/css/bootstrap.min.css' %}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'pr/css/style.css' %}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{% static 'pr/css/responsive.css' %}">
    <!-- fevicon -->
    <link rel="icon" href="{% static 'pr/images/fevicon.png' %}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{% static 'pr/css/jquery.mCustomScrollbar.min.cs' %}">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
<!--      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
<!--      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]&ndash;&gt;-->
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{% static 'pr/images/loading.gif' %}" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header id="home">
        
        <!-- end header inner -->
    </header>
    <!-- end header -->


    

    <!-- about -->
    <div id="about" class="about layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="{{pr.img.url}}" alt="#" />
                </div>
                <div class="col-md-6">
                    <div class="heading margin_top_30">
                        <h2>{{pr.name}}</h2>
                    </div>
                    <div class="full margin_top_20">
                        <p><strong>Price:{{pr.price}}Rs</strong><br>
                        {{pr.desc}}</p>
                        <p><strong>Stock:{{pr.stock}}</strong></p>
                    </div>
                    <div class="full margin_top_30">
                        <a class="main_bt" href="{% url 'addcart' pr.id %}">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->
    <!-- section -->
    
    <!-- end section -->
    <!-- section -->
    
    <!-- end section -->
<!-- section -->
    
    <!-- end section -->
    <!-- section -->
    
    <!-- end section -->

    <!-- footer -->
    
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="{% static 'pr/js/jquery.min.js' %}"></script>
    <script src="{% static 'pr/js/popper.min.js' %}"></script>
    <script src="{% static 'pr/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'pr/js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'pr/js/plugin.js' %}"></script>

    <!-- sidebar -->
    <script src="{% static 'pr/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'pr/js/custom.js' %}"></script>
</body>

</html>
{% endblock %}